In [26]:
import numpy as np
import pandas as pd
import sklearn

In [27]:
# Do not modify this cell
from sklearn.datasets import load_boston
X, y = load_boston(return_X_y=True)

col= ['CRIM', 'ZN', 'INDUS', 'CHAS', 'NOX', 'RM', 'AGE', 'DIS', 'RAD', 'TAX', 'PTRATIO', 'B', 'LSTAT']
def get_data_frame(X, y):
  df = pd.DataFrame(data = X, columns = col)
  df['MEDV'] = y
  return df

df = get_data_frame(X,y)
df

/Users/macbookpro/Library/Python/3.8/lib/python/site-packages/sklearn/utils/deprecation.py:87: FutureWarning: Function load_boston is deprecated; `load_boston` is deprecated in 1.0 and will be removed in 1.2.

    The Boston housing prices dataset has an ethical problem. You can refer to
    the documentation of this function for further details.

    The scikit-learn maintainers therefore strongly discourage the use of this
    dataset unless the purpose of the code is to study and educate about
    ethical issues in data science and machine learning.

    In this special case, you can fetch the dataset from the original
    source::

        import pandas as pd
        import numpy as np


        data_url = "http://lib.stat.cmu.edu/datasets/boston"
        raw_df = pd.read_csv(data_url, sep="\s+", skiprows=22, header=None)
        data = np.hstack([raw_df.values[::2, :], raw_df.values[1::2, :2]])
        target = raw_df.values[1::2, 2]

    Alternative datasets include the California housing dataset (i.e.
    :func:`~sklearn.datasets.fetch_california_housing`) and the Ames housing
    dataset. You can load the datasets as follows::

        from sklearn.datasets import fetch_california_housing
        housing = fetch_california_housing()

    for the California housing dataset and::

        from sklearn.datasets import fetch_openml
        housing = fetch_openml(name="house_prices", as_frame=True)

    for the Ames housing dataset.

  warnings.warn(msg, category=FutureWarning)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT,MEDV
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98,24.0
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14,21.6
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03,34.7
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94,33.4
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33,36.2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
501,0.06263,0.0,11.93,0.0,0.573,6.593,69.1,2.4786,1.0,273.0,21.0,391.99,9.67,22.4
502,0.04527,0.0,11.93,0.0,0.573,6.120,76.7,2.2875,1.0,273.0,21.0,396.90,9.08,20.6
503,0.06076,0.0,11.93,0.0,0.573,6.976,91.0,2.1675,1.0,273.0,21.0,396.90,5.64,23.9
504,0.10959,0.0,11.93,0.0,0.573,6.794,89.3,2.3889,1.0,273.0,21.0,393.45,6.48,22.0
505,0.04741,0.0,11.93,0.0,0.573,6.030,80.8,2.5050,1.0,273.0,21.0,396.90,7.88,11.9

The homework starts here

TAsk 6

In [28]:
def three_most_expensive(df):
  df = df.sort_values('MEDV', ascending=False)
  return df.loc[df['CHAS'] == 1][:6]

In [29]:
# Do not modify this cell
top6 = three_most_expensive(df)
assert top6.MEDV.mean() == 50.0
assert top6.TAX.min() == 198.0
assert top6.ZN.max() == 90.0
assert isinstance(top6, pd.DataFrame)

Task 7

In [30]:
def ten_most_rooms(df):
  df = df.sort_values('RM', ascending=False)
  return df.loc[:,["RM", "MEDV"]][:10]

In [31]:
# Do not modify this cell
top10 = ten_most_rooms(df)
assert top10.iloc[0].values.tolist() ==  [8.78, 21.9]
assert top10.mean().values.tolist() == [8.4388, 44.83]

Task 8

In [32]:
def add_row(df, x):
  df.loc[len(df)] = x

In [33]:
# Do not modify this cell
assert len(df) == 506
x = np.array([0.006, 18, 2.31, 0, 0.5, 6.5, 65, 4, 1, 296, 15, 396, 5, 19])
assert add_row(df, x) is None
assert len(df) == 507
assert (df.iloc[-1].values == x).all()

Task 9

In [34]:
def remove_first_col(df):
  df = df.drop(df.columns[[0]], axis = 1, inplace=True)

In [35]:
# Do not modify this cell
assert df.shape[1] == 14
assert remove_first_col(df) is None
assert df.shape[1] == 13
assert df.columns[0] == 'ZN'
assert 'CRIM' not in df.columns

Task 10

In [36]:
def group_by_river(df):
  return df.groupby(by = ["CHAS"]).mean()

In [37]:
# Do not modify this cell
river_df = group_by_river(df)
assert river_df.shape == (2, 12)
assert river_df.index.name == 'CHAS'
#assert river_df.MEDV.values.tolist() == [22.08728813559324, 28.44]